@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor00: #1B1E2B;
    --cor01: #2C2F4A;
    --cor02: #818181;
    --fonte-normal: "Lexend", sans-serif;
}

body {
    background: linear-gradient(135deg, var(--cor00), var(--cor01));
    font-family: var(--fonte-normal);
}