@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-fundo: #1B1E2B;
    --cor01: #818181;
    --fonte-normal: "Lexend", sans-serif;
}
header {
    background-color: #818181;
    height: 10vh;
    color: white;
    text-align: center;
}

header > img {
    color: white;
    height: 50px;
    width: 100px;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}

section{
    background: rgba(255, 255, 255, 0.15);
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */

    height: 400px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(88, 88, 88);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    /* animation: surgir 0.8s ease-out forwards; */
    
}

div.formulario{

    height: 340px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

h1, p {
    color: white;
    font-family: var(--fonte-normal);
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
}

div.campo {
    margin: 10px;
    border: none;
    border-bottom: 1px solid #afafaf;
    border-radius: 10px 10px 0px 0px;
}



div.campo > input {
    background-color: #ffffff00;
    height: 30px;
    width: 245px;
    padding: 5px;
    padding-bottom: 0px;

    border: none;
 
}

div.campo:hover {
    border: none;
    border: 1px solid #afafaf;
    border-radius: 10px 10px 10px 10px;
}

input::placeholder{
    color: rgba(190, 190, 190, 0.966);
}

@keyframes surgir {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}